body {
   margin: 0;
   padding: 0;
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.5;
   background-color: lightseagreen;
   color: rgb(122, 189, 245);
 }
 .contenedor {
   margin-top: 30px;
   margin-bottom: 30px;
   width: 30%;
   margin-left: auto;
   margin-right: auto;
   background-color: rgb(255, 255, 255);
   padding: 30px;
 }
